html,body {
	height:100%;
}

body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h5{
	color:rgb(255,193,7);
}

.clickable{ cursor: pointer; }
.flex{ display: flex; }
.text-align-left{ text-align: left }

.action-bar-title{ color: white;font-size: 36px;font-weight: bold; }

.margin-16{ margin: 8px 16px; }

.index-root{ flex-direction: column }
.index-path-div{ flex-direction: row;align-items: center;}
.index-path-input-div{ margin-left: 26px;flex:1; }
